<div layout="row" layout-xs="column">
  <md-content layout-padding>
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-md">
            <img src="img/algorithm_book.jpg" />
          </div>
        </md-card-title-media>
      <md-card-title-text layout-padding>
        <span class="md-headline">Introduction to Algorithms, Third Edition</span>
        <span class="md-subhead">By Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</span>
      </md-card-title-text>
      </md-card-title>
      <md-card-content layout-padding>
        Need:
      </md-card-content>
      <md-card-actions layout="row">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
    </md-card>
  </md-content>

  <md-content layout-padding>
    <md-card ng-show="loggedIn">
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" src="img/user_avatar.png" />
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{ username }}</span>
          <span class="md-subhead">Lowell, MA</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <p>Either a list or more cards</p>
      </md-card-content>
    </md-card>
    <md-card ng-hide="loggedIn">
      <md-card-title>
        <span class="md-headline">Log in</span>
      </md-card-title>
      <md-card-content layout-padding>
        <form ng-submit="login()" layout="column">
          <md-input-container>
            <label>Username</label>
            <input ng-model="user.username" type="text"/>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input ng-model="user.password" type="password"/>
          </md-input-container>
          <md-button class="md-primary" type="submit">Log in</md-button>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
</div>
